<div class = "card">
  <div class = "card-header">
  <h4><%= link_to "Diagnosis №" + diagnosis_item.id.to_s , diagnosis_item%></h4>
  </div>
  <div class ="card-body">
    <p><b>Patient name: </b><%= diagnosis_item.patient.first_name%></p>
    <p><b>Patient last name: </b><%= diagnosis_item.patient.last_name%></p>
  </div>
</div>
