<div class = "card">
  <div class = "card-header">
  <h3><%= link_to "Patient №" + patient.id.to_s , patient%></h3>
  </div>
  <div class ="card-body">
    <p><b>First name: </b><%= patient.first_name%></p>
    <p><b>Last name: </b><%= patient.last_name%></p>
  </div>
</div>
