<div class = "card-group">
  <% @patients.each do |patient| %>
    <div class = "card">
      <div class = "card-body">
        <%= render "card", patient: patient %>
      </div>
      <% if can? :read, DiagnosisItem %>
        <div class = "card-footer">
          <br>
            <button class="btn btn-outline-primary" id="<%= patient.id %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="#collapseExample">
              Show diagnosis items
            </button>
            <div class="collapse load" id="#collapseExample">
              <div class="card card-body">
              </div>
            </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<% if can? :create, @patient %>
  <%= link_to "Create new patient", new_patient_path(@patient), class: 'btn btn-success mt-4' %>
<% end %>
