<div class = "card-group">
  <% @physicians.each do |physician| %>
    <%= render "card", physician: physician %>
  <% end %>
</div>
<% if can? :create, @physician %>
  <%= link_to "Create new physician", new_physician_path(@physician), class: 'btn btn-success mt-4' %>
<% end %>
