<div class = "card">
  <div class = "card-header">
  <h3><%= link_to "Appointment №" + appointment.id.to_s , appointment%></h3>
  </div>
  <div class ="card-body">
    <p><b>Patient: </b><%= appointment.patient.first_name%></p>
    <p><b>Physician: </b><%= appointment.physician.first_name%></p>
    <p><b>Date: </b><%= appointment.appointment_date%></p>
  </div>
</div>
